<div class="topHeader">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/" >Home</a></li>
    <li routerLinkActive="active"><a routerLink="/products" >Product List</a></li>
    <li routerLinkActive="active"><a routerLink="/categories" >Category List</a></li>
    <li routerLinkActive="active"><a routerLink="/customer/info" >Customer List Info</a></li>
    <li routerLinkActive="active"><a routerLink="/employee/info" >Employee Info</a></li>
    <li routerLinkActive="active"><a routerLink="/employeereactform/info" >Employee React Info</a></li>
  </ul>
</div>

<router-outlet></router-outlet>